<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css"
    href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" href="/css/main.css">
<div class="grey-bg container-fluid">
    <section id="minimal-statistics">
        <div class="row">
            <div class="col-12 mt-3 mb-1">
                <h4>Detalles Intervención {{fecha}} </h4>
            </div>
        </div>
        <div class="row p-4">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fas fa-stopwatch primary font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3 class="primary">{{duracion}}</h3>
                                    <span>Duración</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fas fa-heartbeat warning font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3 class="warning">{{avgPulso}}</h3>
                                    <span>Ritmo Cardíaco</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fas fa-thermometer success font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3 class="success">{{avgTempInt}}º</h3>
                                    <span>Temp. Interior</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="media d-flex">
                                <div class="align-self-center">
                                    <i class="fas fa-thermometer danger font-large-2 float-left"></i>
                                </div>
                                <div class="media-body text-right">
                                    <h3 class="danger">{{avgTempExt}}º</h3>
                                    <span>Temp. Exterior</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="minimal-statistics">
        <div class="row p-4">
            <div class="col-xl-6">
                <p>Evolución Frecuencia Cardíaca</p>
                <canvas id="myChart" width="400" height="400"></canvas>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                <script type="text/javascript">
                    var ctx = document.getElementById('myChart').getContext('2d');
                    function updateChart() {
                        const datos = `{{labels}}`.split(',');
                        for (let i = 0; i < datos.length; i++) {
                            myChart.data.labels.push(datos[i]);
                        }
                        /* myChart.data.datasets.forEach(datasets => {
                             dataset.data.push(`{{data}}`);
                         })*/
                        myChart.update();
                    }
                    const puls = [{{ pulse }}];
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [{
                                label: 'Pulso Cardíaco',
                                data: puls,
                                backgroundColor: [
                                    'rgba(54, 162, 235, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(54, 162, 235, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    updateChart();

                </script>
            </div>
            <div class="col-xl-6">
                <p>Evolución de la temperatura inteior</p>
                <canvas id="tempChart" width="400" height="400"></canvas>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                <script type="text/javascript">
                    var ctx = document.getElementById('tempChart').getContext('2d');
                    function updateChart() {
                        const datos = `{{labels}}`.split(',');
                        for (let i = 0; i < datos.length; i++) {
                            myChart.data.labels.push(datos[i]);
                        }
                        /* myChart.data.datasets.forEach(datasets => {
                             dataset.data.push(`{{data}}`);
                         })*/
                        myChart.update();
                    }
                    const datatemp_int = [{{ tempInt }}];
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [{
                                label: 'Temp. Corporal',
                                data: datatemp_int,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    updateChart();

                </script>
            </div>
        </div>
        <div class="row p-4">
            <div class="col-xl-6">
                <p>Evolución de la temperatura exterior</p>
                <canvas id="tempExt" width="400" height="400"></canvas>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                <script type="text/javascript">
                    var ctx = document.getElementById('tempExt').getContext('2d');
                    function updateChart() {
                        const datos = `{{labels}}`.split(',');
                        for (let i = 0; i < datos.length; i++) {
                            myChart.data.labels.push(datos[i]);
                        }
                        /* myChart.data.datasets.forEach(datasets => {
                             dataset.data.push(`{{data}}`);
                         })*/
                        myChart.update();
                    }
                    const datatemp_ext = [{{ tempExt }}];
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [{
                                label: 'Temp. Exterior',
                                data: datatemp_ext,
                                backgroundColor: [
                                    'rgba(255, 205, 86, 0.2)'
                                ],
                                borderColor: [
                                    'rgb(255, 205, 86)',
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    updateChart();

                </script>
            </div>
            <div class="col-xl-6">
                {{#if haycaida}}
                <p>Caidas a lo largo de la intervención</p>
                <canvas id="gCaidas" width="400" height="400"></canvas>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                <script type="text/javascript">
                    var ctx = document.getElementById('gCaidas').getContext('2d');
                    function updateChart() {
                        const datos = `{{labels}}`.split(',');
                        for (let i = 0; i < datos.length; i++) {
                            myChart.data.labels.push(datos[i]);
                        }
                        /* myChart.data.datasets.forEach(datasets => {
                             dataset.data.push(`{{data}}`);
                         })*/
                        myChart.update();
                    }
                    const caidas_data = [{{ caidas }}];
                    var myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: [],
                            datasets: [{
                                label: 'Caidas',
                                data: caidas_data,
                                backgroundColor: [
                                    'rgba(153, 102, 255, 0.2)'
                                ],
                                borderColor: [
                                    'rgb(153, 102, 255)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    updateChart();

                </script>
            </div>
            {{/if}}
        </div>
    </section>
</div>